@model List<ProductViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">PCShop</h1>
    <hr/>
    <div class="container">
        <div class="row">
                @foreach (var p in Model)
                {
                    <div class="col product-list-item">
                        <a asp-controller="Catalog" asp-action="Product" asp-route-id="@p.Id">@p.Name</a>
                    </div>
                }
            </div>
    </div>
</div>
